
.navbar {
    display: inline;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  
 
  .my-heading {
    color: blue;
  }
  
  .my-paragraph {
    font-size: 16px;
  }
  
  .another-class {
    color: red;
  }